*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.container{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: black;
    width: 100%;
    min-height: 100vh;
}

.app{
    border-radius: 5px;
    padding: 10px;
    max-width: 300px;
    background-color: white;
    display: flex;
    gap: 5px;

}

.app input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    /* height: 100; */
}
.app img{
    cursor: pointer;
    width: 30px;
}

