*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: black;
}

.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

#back, #next{
    padding: 10px;
    width: 50px;
    cursor: pointer;
}

.gallery{
    width: 900px;
    display: flex;
    overflow-x:scroll
    /* margin-top: 50%; */
}

.gallery::-webkit-scrollbar{
    display: none;
}
.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;

}

.gallery div img{
    width: 100%;
    filter: grayscale(100);
    transition: transform .6s;
}

.gallery div img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
    cursor: pointer;
}